<div class="card flex justify-content-center">
  <p-dialog
    header="Create Category"
    [modal]="true"
    [(visible)]="visible"
    [style]="{ width: '40rem' }"
  >
    <label for="catName">Category Name</label>
    <input type="text" id="catName" [(ngModel)]="catName" />
    <div class="flex justify-content-end gap-2 p-3" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>
    <div class="flex justify-content-end gap-2 p-3">
      <p-button label="Save" (click)="addCategory()" />
      <p-button label="Close" (click)="visible = false" />
    </div>
  </p-dialog>
</div>
