<div class="card flex justify-content-center">
  <p-card header="Welcome!" [style]="{ width: '360px' }">
    <div *ngIf="loginFail">Login Failed</div>
    <div class="loginForm">
      <!-- <div class="loginField"> -->
      <label for="username">Username</label>
      <!-- </div> -->
      <input
        type="text"
        id="username"
        pInputText
        class="loginInput"
        [(ngModel)]="username"
      />
      <br />
      <label for="password">Password</label>
      <input
        type="text"
        id="password"
        pInputText
        class="loginInput"
        [(ngModel)]="password"
      />

      <div class="flex gap-3 mt-1 loginBtn">
        <p-button
          label="Login"
          class="w-full"
          styleClass="w-full"
          (click)="onClick()"
        />
      </div>
    </div>
  </p-card>
</div>
